* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    height: 100%;
}

.sidebar {
    grid-column: 1 / 2;
    background-color: #2280fca8;
}

.content-container {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr;
}

.header {
    grid-row: 1 / 2;
    background-color: white;
}

.main-content {
    grid-row: 2 / 3;
    display: grid;
    grid-template-rows: 1fr 5fr;
    grid-template-columns: repeat(3, 1fr);
    background-color: lightgray;
}

.projects {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.right-sec {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr 3fr;
}



.cards {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}

.card {
    background-color: white;
    border-left: 4px solid orange;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}