* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html ,
body {
    height: 100vh;
    width: 100vw;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    height: 100vh;
}

.sidebar {
    grid-column: 1 / 2;
    background-color: #2280fca8;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
}

.logo {
    grid-row: 1 / 2;
    padding: 25px;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.menu {
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 48px);
    gap: 10px;
    padding: 25px;
}

.top-links {
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.container-content {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 4fr;
}

.header {
    grid-row: 1 / 2;
    background-color: white;
}

.main-content {
    grid-row: 2 / 3;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 2fr 1fr;
    background-color: lightgray;
    height: calc(100vh - 80px);
    padding-top: 25px;
    padding-bottom: 50px;
    padding-left: 25px;
    padding-right: 25px;
}

.projects {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.right-sec {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    display: grid;
    grid-template-rows: auto 1fr auto 1fr;
    grid-template-columns: 1fr;
    height: calc(100% - 80px);
}

.announcements {
    grid-row: 1 / 2;
    padding-left: 25px;
}

.announcements,
.projects,
.trending {
    padding-bottom: 25px;
    font-size: 18px;
    font-weight: bold;
}

.announcements-content {
    grid-row: 2 / 3;
    display: grid;
    gap: 10px;
    height: calc(100% - 80px);
    padding-bottom: 50px;
    padding-left: 25px;
    padding-right: 25px;
}

.trending {
    grid-row: 3 / 4;
    align-self: self-end
}

.trending-content {
    grid-row: 4 / 5;
    background-color: white;
    align-self: self-end
}

.trending-content,
.announcement-cards {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cards {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 10px;
}

.card {
    background-color: white;
    border-left: 4px solid orange;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content-title {
    font-size: 16px;
    font-weight: bold;
}

.content-text {
    font-size: 14px;
    color: #555;
}